body{
    box-sizing: border-box;
    background-image: linear-gradient(to right, #3931af, #00c6ff);
}

html, body {
    overflow-x: hidden;
  }

  .outer{
    max-width: 80vw;  
  }
.side1{
  
    color: white;
    display: relative;
    text-align: center;
    margin: auto;
    min-height: 35vh;
}
.side2{
    min-height: 60vh;
    max-width: 95%;
   
    background-color: white;
    margin: 20px 10px 20px 10px;
    border-top-left-radius: 14% 80%;
    border-bottom-left-radius: 14% 80%;
}
input,option,select{
  max-width: 90%;
}
.input-tags-container{
  max-width: 800px;
}
h3{
    text-align: center;
    margin:20px 0 30px 0
}

.register-butn{
    padding: 8px 25px 8px 25px;
    border-radius: 19px;
    background-color:#63bbf2;
    border: none;
}
.login{
    color: black;
    border: 1px solid black;
    padding: 8px 25px 8px 25px;
    border-radius: 19px;
    margin-top: 40px;
}

.my-label{
  padding-left: 12px;
  padding-bottom: 2px;
}

#male{
  margin-left: 15px;
}

.register-butn{
float: right;
}

.message{
  font-size: 15px;
  border: 1px solid white;
  margin-left: 12px;
  color: red;
}
#gender-label{
  margin-left: 15px;
}
.error{
  border: 1px solid red;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}

td,th{
  text-align: center;
}

#my-para{
  margin-top: 20px;
}

.table-properties{
  width: 100%;
  font: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

.my-table{
  margin:auto;
  margin-bottom: 30px;
  margin-top: 25px;
  width: 100%;
  /* overflow-x: auto; */
}

.table-props{
  overflow: auto;
}




 @media screen and (max-width:992px) {
   .side1{
    min-height: 30vh;
   }

   @media screen and (max-width:500px){
    .side2{
      border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }

    .table-props{
      font-size:small;
      padding: 1px;
    }
   
   }
    
} 



